body {
    height: 100%;
    width: 100%;
    background-color:black;
}
nav {
    background-color:#6911a8
}
.purple {
    color: #6911a8;
    font-size: 40px;
}
h1 {
    font-size: 60px;
    color: #6911a8;
}
ul {
    font-size: 30px;
    color: #6911a8;
}
.smallimg {
    width: 100;
    height: 100;
}
